/*-- scss:rules --*/

.circular-image img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 90%;
}

.flushright {
  float: right;
}

.dna {
  font-weight: normal;
  font-family: monospace;
}

.dna .italic {
  font-weight: bold;
  font-family: monospace;
  color: cl.$aqua75;
}

.translatey50 {
  transform: translate(0, -50px);
}

.translatey100 {
  transform: translate(0, -100px);
}

.sourceCode.r {
    border-left-color: cl.$grape;
    border-left-width: 5px;
}

.sourceCode > .r::before {
    content: "R";
    color: cl.$grape;
    font-weight: 900;
    margin-right: 10px;
}

.sourceCode.bash {
    border-left-color: cl.$aqua;
    border-left-width: 5px;
}

// .sourceCode.bash.code-with-copy > ::before {
//     content: ">_";
//     color: cl.$aqua;
//     font-weight: 900;
//     margin-right: 10px;
// }
