/*-- scss:rules --*/

.circular-image img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 90%;
}

.flushright {
  float: right;
}

.dna {
  font-weight: normal;
  font-family: monospace;
}

.dna .italic {
  font-weight: bold;
  font-family: monospace;
  color: $aqua75;
}

.translatey50 {
  transform: translate(0, -50px);
}

.translatey100 {
  transform: translate(0, -100px);
}

.sourceCode > .r::before {
    content: "R";
    color: $grape;
    font-weight: 900;
    margin-right: 10px;
}

.sourceCode.r {
    background-color: rgba(242, 229, 244, 0.1); // $grape05;
    border-left-color: $grape;
    border-left-width: 5px;
}

.sourceCode.bash {
    background-color: rgba(231, 251, 254, 0.1); // $aqua05;
    background-opacity: 0.9;
    border-left-color: $aqua;
    border-left-width: 5px;
}

.three_column_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 0px;
    grid-column-gap: 30px;
    margin-top: 30px;
}
